*.msf
.venv/
alignment/benchmark_alignments_demo.ipynb
__pycache__/
protein_embeddings/output_representations/
alignment/repr*.txt
alignment/alignment.msf
protein_embeddings/vector_list.txt
protein_embeddings/local_rep_aa_list.txt