.venv/
alignment/benchmark_alignments_demo.ipynb
__pycache__/
alignment/data/alignments/
protein_embeddings/output_representations/
protein_embeddings/vector_list.txt
protein_embeddings/local_rep_aa_list.txt